.container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 218, 0.9);
}
.container1 {
  width: 100%;
  height: 69px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #bde2dc;
}
.text {
  top: 10px;
  left: 70px;
  right: auto;
  bottom: auto;
  position: absolute;
  text-align: center;
}
.navlink {
  top: 9px;
  left: auto;
  color: #000000;
  right: 171px;
  bottom: auto;
  position: absolute;
  font-size: 24px;
  background-color: #ff0900;
}
.text01 {
  color: #feff00;
}
.navlink1 {
  top: 8px;
  left: auto;
  color: #fff700;
  right: 16px;
  bottom: auto;
  position: absolute;
  font-size: 24px;
  background-color: #ff0000;
}
.container2 {
  top: 165px;
  left: 149px;
  right: auto;
  width: 1073px;
  bottom: auto;
  height: 282px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffcb;
}
.text02 {
  top: 39px;
  left: auto;
  right: 147px;
  bottom: auto;
  position: absolute;
  font-size: 30px;
}
.text03 {
  font-weight: 700;
  white-space: normal;
}
.image {
  top: 20px;
  left: 14px;
  right: auto;
  width: 353px;
  bottom: auto;
  height: 222px;
  position: absolute;
  object-fit: cover;
}
.text04 {
  top: 107px;
  left: auto;
  right: 106px;
  bottom: auto;
  position: absolute;
  font-size: 22px;
  font-family: PT Sans;
}
.text05 {
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
}
.text06 {
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
}
.text07 {
  color: rgb(5, 5, 5);
  display: inline;
  font-weight: 700;
  white-space: normal;
}
.text09 {
  color: rgb(5, 5, 5);
  font-weight: 700;
}
.container3 {
  top: 458px;
  left: 146px;
  right: auto;
  width: 1073px;
  bottom: auto;
  height: 282px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffcb;
}
.text10 {
  top: 39px;
  left: auto;
  right: 147px;
  bottom: auto;
  position: absolute;
  font-size: 30px;
}
.link1 {
  color: rgb(34, 34, 34);
  white-space: normal;
  text-decoration: none;
}
.text11 {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.image1 {
  top: 20px;
  left: 14px;
  right: auto;
  width: 353px;
  bottom: auto;
  height: 222px;
  position: absolute;
  object-fit: cover;
}
.text12 {
  top: auto;
  left: auto;
  right: 88px;
  bottom: 79px;
  position: absolute;
  font-size: 22px;
}
.text13 {
  color: rgb(5, 5, 5);
  display: inline;
  font-weight: 400;
  white-space: normal;
}
.text15 {
  color: rgb(5, 5, 5);
  font-weight: 400;
}
.text16 {
  color: rgb(5, 5, 5);
  font-weight: 400;
}
.text18 {
  color: rgb(5, 5, 5);
  font-weight: 400;
}
.textinput {
  top: 12px;
  left: 436px;
  right: auto;
  width: 443px;
  bottom: auto;
  height: 44px;
  position: absolute;
}
.text19 {
  top: 17px;
  left: 449px;
  right: auto;
  bottom: auto;
  position: absolute;
  font-size: 22px;
  font-family: PT Sans;
}
